
.body {
    margin: 0 10%;
}

.header {
    background-color: #50C2C9;
    padding-bottom: 1px;
}

.avatar1 {
   margin: 0 auto;
   display: table;
}

.elips {
    background-image: url(../img/Shape.svg);
    
    width: 150px;
    height: 140px;
}

.Ahmed {
    margin-bottom: 31px;
}

.Ahmedispower {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color:#fff;
    line-height: 27px;
    margin: 21px 0 0 0;
    text-align: center;
}

.shell {
    background-color: #E5E5E5;
    padding-bottom: 44px;
}

.content {
    margin: 0 3% 0 3%;
}

.task {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px; 
    padding: 31px 0 0 0;
    
}

.header_label {
    background-color: #fff;
    
}

.list_wrapper {
    background-color: #fff;
    border-radius: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 19px 0 0 0;
    margin: 12px 0 0 0;
    
}

.task2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 14px 0 0 20px;
    position: absolute;
}

.button {
    border-radius: 50%;
    border: none;
    background-color: #50C2C9;
    width: 26px;
    height: 26px;
    margin: 0 0 0 94%
}

.plus_ultra {
    color: white;
    font-size: 29px;
    transform: translate(-10%, -10%);
}

.checkbox {
    display: none;
}

.fake{
    display: inline-block;
    width: 19px;
    height: 17px;
    border: 2px solid #50C2C9;
    position: relative;
    background-color: white;
}

.fake::before {
    content: "";
    position: absolute;
    display: block;
    width: 19px;
    height: 17px;
    background-color:#50C2C9;
    opacity: 0;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-left: 11px;
    
}

.list_item {
    line-height: 2.5;
    margin: 17px 0 0 20px;
    overflow-y: scroll;
    height: 300px;
}

body::-webkit-scrollbar {
    width: 12px;     
    background-color: #C4C4C4;
    border-radius: 50px;     
}