.header {
    background-color: #F5F5F5;
}

.elips {
    background-image: url(../img/Shape.svg);
    width: 150px;
    height: 140px;
}

.text1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-bottom: 50px;
}

.main {
    background-color: #F5F5F5;
}

.mobile {
    background-image: url(../img/undraw_add_tasks_mxew\ 1.svg);
    width: 156px;
    height: 186px;
    margin: 0 46% 70px 46%;
}

input {
    border: none;
    border-radius: 20px;
    width: 85%;
    padding: 0 0 0 35px;
    height: 46px;
    margin: 0 auto;
    display: block;
    margin-bottom: 28px;
}

.form {
    padding-bottom: 22px;
}

a {
    color: #24D0C6;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

a:visited {
    color: white;
}

a:hover {
    color: darkviolet;
    text-decoration: darkmagenta;
    text-decoration: underline;
}

.a1 {
    margin: 0 auto;
    display: table;
    padding-bottom: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.footer{
    background-color: #F5F5F5;
}

button {
    width: 272px;
    height: 56px;
    border: none;
    background-color: #50C2C9;
    margin: 0 auto;
    display: table;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.text2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    display: table;
    padding: 28px 0 40px 0;
}

@media screen and (max-width: 1000px) {
    .elips {
        background-image: url(../img/Shape2x.png);
        width: 300px;
        height: 280px;
    }

    .text1 {
        font-size: 50px;
    }

    .mobile {
        background-image: url(../img/undraw2x.png);
        width: 311px;
        height: 372px;
        margin-bottom: 200px;
    }

    input {
        height: 100px;
        font-size: 25px;
        margin-bottom: 80px;
    }

    .a1 {
        font-size: 35px;
        padding-bottom: 60px;
    }

    button {
        width: 540px;
        height: 112px;
        font-size: 30px;
    }

    .text2 {
        font-size: 25px;
    }

    .form {
        padding-bottom: 150px;
    }
}