.body {
    margin: 0 10%;
}

.header {
    background-color: #E5E5E5;
    padding-bottom: 70px;
}

.elips {
    background-image: url(../img/Shape.svg);
    width: 150px;
    height: 140px;
}

.main {
    background-color: #E5E5E5;
}

.text1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    
}

.text2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 16px 0 0 0;
}

.form {
    border-radius: 20px;
    background-color: white;

}